<img class="for_info_only half" src="{{MEDIA}}title.png" style="float:left;max-height: 400px">

<p style="text-align: justify;">
    Nicola likes to categorize all sorts of things.
    He categorized a series of numbers and as the result of his efforts,
    a simple sequence of numbers became a deeply-nested list.
    Sophia and Stephan don't really understand his organization and need to figure out what it all means.
    They need your help to understand Nikolas crazy list.
</p>

<p style="text-align: justify;">
    There is a list which contains integers or
    other nested lists which may contain yet more lists and integers which then… you get the idea.
    You should put all of the integer values into one flat list.
    The order should be as it was in the original list with string representation from left to right.<br>
In this mission you should use the 'yield' to make your function a generator.
</p>

<p style="text-align: justify;">
    We need to hide this program from Nikola by keeping it small and easy to hide.
    Because of this, <strong>your code should be shorter than 140 characters (with whitespaces)</strong>.
</p>

<p><strong>Input:</strong> A nested <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> with integers (<span translate="no">{% if is_js %}number{% else %}int{% endif %}</span>).</p>

<p><strong>Output:</strong> The one-dimensional <span translate="no">{% if is_js %}array{% else %}list{% endif %}</span> with integers.</p>

<p><strong>Examples:<br/></strong></p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p class="for_info_only">
    <strong>How it is used:</strong>
    This concept is useful for parsing and analyzing files with complex structures and
    the task challenges your creativity in writing short code.
</p>

<p>
    <strong>Preconditions:</strong>
    <ul>
        <li>0 &le; |array| &le; 100;</li>
        <li>&forall; x ∈ array : -2<sup>32</sup> < x < 2<sup>32</sup> or x is a list;</li>
        <li>depth < 10.</li>
    </ul>
</p>
